:root {
  --menu-h: 160px;

  --gutter-h--md: 72px;
  --gutter-v--xs: 48px;
  --gutter-v--lg: 90px;

  --font--3: 28px;
  --font--4: 32px;
  --font--5: 40px;
  --font--6: 50px;

  --white: #ffffff;
  --blue--2: #15aaf9;
  --blue--3: #2c1dfe;
  --blue--5: #083372;

  --media--sm: 768px;
  --media--md: 1200px;
  --media--lg: 1600px;
  --media--xl: 1920px;
}

@media (min-width: 1600px) {
  :root {
    --gutter-h--md: calc((100% - 1600px + (2* 72px)) / 2);
    --gutter-v--xs: 48px;
    --gutter-v--lg: 160px;

    --font--4: 48px;
    --font--5: 55px;
    --font--6: 65px;
  }
}
